/Experience section
/==================================================

#section-experience
  .container
    %h1 Experiences
    %p.lead
      “3 years experience in the financial sector managing IT projects globally
      with a deep project management experience“
    %hr/
    .block
      %h2 Education
      .experience.row
        .col-md-4
          %h4 Telecom Sudparis
          %p.experience-period Sept. 2010 - Jul. 2013
          %span.experience-location
            = image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image")
            Evry
        .col-md-8
          %p
          %h4 Master - Management of Information Systems
          %span.hidden-phone
            Master of Engineering from a French "Grandes Ecoles" with a specialisation in Information Systems.
          %hr/
      .experience.row
        .col-md-4
          %h4 National University of Singapore
          %p.experience-period Aug. 2012 - Dec. 2012
          %span.experience-location
            = image_tag("flag_singapore.png", width: '20', height: '20', alt: 'Singapore', class: "image")
            Singapore
        .col-md-8
          %p
          %h4 Non Graduate Program - Management of Information Systems
          %span.hidden-phone
            A six months non-graduate programme in Singapore to specialize myself in the management of Information Systems (IS).
            During this period, activities included theory on IS strategy and planning, and project-based activities related to
            Knowledge Management (KM), computer-mediated communications and telecom & international networks.
          %hr/
      .experience.row
        .col-md-4
          %h4 Lycee du Parc
          %p.experience-period Sept. 2018 - Jul. 2010
          %span.experience-location
            = image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image")
            Lyon
        .col-md-8
          %p
          %h4 Classes Preparatoires
          %span.hidden-phone
            A two years preparation for national competitive entrance exams to leading French
            “Grandes Ecoles”. I specialised in Mathematics, Physics and Chemistry.
    %hr/
    .block
      %h2 Careers
      .experience.row
        .col-md-4
          %h4 HSBC Global Banking & Markets
          %p.experience-period Aug. 2015 - Feb. 2016
          %span.experience-location
            = image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image")
            Hong Kong
        .col-md-8
          %p
          %h4 Production Support Specialist - Fixed Income IT
          %span.hidden-phone
            As a Production Support specialist, I was responsible for conducting change in the Fixed Income Production Support (FIPS) teams globally, with Hong Kong as a priority.
            I analyzed the core weaknesses and redundant activities the HK and offsite support teams (Brazil and India) were doing, and leveraged our main monitoring systems (mainly ITRS Geneos) to decrease these efforts by 20%.
          %hr/
      .experience.row
        .col-md-4
          %h4 HSBC Global Banking & Markets
          %p.experience-period Sept. 2014 - Jul. 2015
          %span.experience-location
            = image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image")
            Hong Kong
        .col-md-8
          %p
          %h4 Solution Architect - Fixed Income IT
          %span.hidden-phone
            As soon as my internship was over, I was sent to Hong Kong to help defining the Fixed Income IT (FIIT) strategy and architecture.
            I was responsible for aligning technical architecture strategies and execution plans to converge towards the desired future state of architecture
            Gather business requirements and select, if necessary, the technologies that best fit these requirements.
            I was working in a global-based team with my manager based in Paris and a colleague based in New York.
          %hr/
      .experience.row
        .col-md-4
          %h4 HSBC Global Banking & Markets
          %p.experience-period Feb. 2013 - Jul. 2013
          %span.experience-location
            = image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image")
            Paris
        .col-md-8
          %p
          %h4 Project Manager - Fixed Income IT
          %span.hidden-phone
            Right before I graduated, I started working for HSBC Fixed Income IT, a branch of the investment bank responsible for driving and executing IT projects related to fixed rate derivatives products (Bonds, Repos, Swaps).
            I mainly worked there as an assistant project manager on the implementation and delivery of a new valuations & risk engine.
          %hr/
      .experience.row
        .col-md-4
          %h4 SPRINT, Telecom Sudparis Junior Entreprise
          %p.experience-period Oct. 2010 - Apr. 2012
          %span.experience-location
            = image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image")
            Evry
        .col-md-8
          %p
          %h4 Project Manager
          %span.hidden-phone
            A “Junior-Enterprise“ (J.E.) is a small consulting company (turnover: 80k €) run by students in European schools of engineering and management.
            I work there in parallel of my studies, and managed the initiation and development of different IT projects, including the management of an e-Learning website from business requirement to delivery for woospeak.com
