<!-- Experience section
================================================== -->
<div id="section-experience">
  <div class="container">
    <h1>Experiences</h1>
    <p class="lead"> &ldquo;3 years experience in the financial sector managing IT projects globally
      with a deep project management experience&ldquo;</p>

    <hr>

    <div class="block">
      <h2>Education</h2>
      <div class="experience row">
    		<div class="col-md-4">
    			<h4>Telecom Sudparis</h4>
    			<p class="experience-period">Sept. 2010 - Jul. 2013</p>
          <span class="experience-location">
            <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
            Evry
          </span>
    		</div>
    		<div class="col-md-8">
    			<p>
    				<h4>Master - Management of Information Systems</h4>
    				<span class="hidden-phone">
              Master of Engineering from a French "Grandes Ecoles" with a specialisation in Information Systems.
            </span>
    			</p>
          <hr>
    		</div>
    	</div>
      <div class="experience row">
          <div class="col-md-4">
            <h4>National University of Singapore</h4>
            <p class="experience-period">Aug. 2012 - Dec. 2012</p>
            <span class="experience-location">
              <%= image_tag("flag_singapore.png", width: '20', height: '20', alt: 'Singapore', class: "image") %>
              Singapore
            </span>
          </div>
          <div class="col-md-8">
            <p>
              <h4>Non Graduate Program - Management of Information Systems</h4>
              <span class="hidden-phone">
                A six months non-graduate programme in Singapore to specialize myself in the management of Information Systems (IS).
                During this period, activities included theory on IS strategy and planning, and project-based activities related to
                Knowledge Management (KM), computer-mediated communications and telecom &amp; international networks.
              </span>
            </p>
            <hr>
          </div>
        </div>
        <div class="experience row">
            <div class="col-md-4">
              <h4>Lycee du Parc</h4>
              <p class="experience-period">Sept. 2018 - Jul. 2010</p>
              <span class="experience-location">
                <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                Lyon
              </span>
            </div>
            <div class="col-md-8">
              <p>
                <h4>Classes Preparatoires</h4>
                <span class="hidden-phone">
                  A two years preparation for national competitive entrance exams to leading French
                  “Grandes Ecoles”. I specialised in Mathematics, Physics and Chemistry.
                </span>
              </p>
            </div>
          </div>
        </div>

        <hr>

        <div class="block">
          <h2>Careers</h2>
          <div class="experience row">
            <div class="col-md-4">
              <h4>HSBC Global Banking &amp; Markets</h4>
              <p class="experience-period">Aug. 2015 - Feb. 2016</p>
              <span class="experience-location">
                <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image") %>
                Hong Kong
              </span>
            </div>
            <div class="col-md-8">
              <p>
                <h4>Production Support Specialist - Fixed Income IT</h4>
                <span class="hidden-phone">
                  As a Production Support specialist, I was responsible for conducting change in the Fixed Income Production Support (FIPS) teams globally, with Hong Kong as a priority.
                  I analyzed the core weaknesses and redundant activities the HK and offsite support teams (Brazil and India) were doing, and leveraged our main monitoring systems (mainly ITRS Geneos) to decrease these efforts by 20%.
                </span>
              </p>
              <hr>
            </div>
          </div>
          <div class="experience row">
            <div class="col-md-4">
              <h4>HSBC Global Banking &amp; Markets</h4>
              <p class="experience-period">Sept. 2014 - Jul. 2015</p>
              <span class="experience-location">
                <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image") %>
                Hong Kong
              </span>
            </div>
            <div class="col-md-8">
              <p>
                <h4>Solution Architect - Fixed Income IT</h4>
                <span class="hidden-phone">
                  As soon as my internship was over, I was sent to Hong Kong to help defining the Fixed Income IT (FIIT) strategy and architecture.
                  I was responsible for aligning technical architecture strategies and execution plans to converge towards the desired future state of architecture
                  Gather business requirements and select, if necessary, the technologies that best fit these requirements.
                  I was working in a global-based team with my manager based in Paris and a colleague based in New York.
                </span>
              </p>
              <hr>
            </div>
          </div>
          <div class="experience row">
            <div class="col-md-4">
              <h4>HSBC Global Banking &amp; Markets</h4>
              <p class="experience-period">Feb. 2013 - Jul. 2013</p>
              <span class="experience-location">
                <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                Paris
              </span>
            </div>
            <div class="col-md-8">
              <p>
                <h4>Project Manager - Fixed Income IT</h4>
                <span class="hidden-phone">
                  Right before I graduated, I started working for HSBC Fixed Income IT, a branch of the investment bank responsible for driving and executing IT projects related to fixed rate derivatives products (Bonds, Repos, Swaps).
                  I mainly worked there as an assistant project manager on the implementation and delivery of a new valuations &amp; risk engine.
                </span>
              </p>
              <hr>
            </div>
          </div>
          <div class="experience row">
            <div class="col-md-4">
              <h4>SPRINT, Telecom Sudparis Junior Entreprise</h4>
              <p class="experience-period">Oct. 2010 - Apr. 2012</p>
              <span class="experience-location">
                <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                Evry
              </span>
            </div>
            <div class="col-md-8">
              <p>
                <h4>Project Manager</h4>
                <span class="hidden-phone">
                  A &ldquo;Junior-Enterprise&ldquo; (J.E.) is a small consulting company (turnover: 80k €) run by students in European schools of engineering and management.
                  I work there in parallel of my studies, and managed the initiation and development of different IT projects, including the management of an e-Learning website from business requirement to delivery for woospeak.com
                </span>
              </p>
            </div>
          </div>
    </div>

  </div>
</div>
