<!-- Topbar section
================================================== -->

<div id="section-topbar">
    <div id="topbar-inner">
      <ul id="nav" class="nav" role="tablist">
        <li class="menu-item">
          <a href="#section-head" title="Antoine Petit">
            <p class="lead">Home</p>
            <!--
            <%= image_tag("icon/icon_profile.png", alt: 'Antoine Petit', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-profile" title="Profile">
            <p class="lead">Profile</p>
            <!--
            <%= image_tag("icon/icon_works.png", alt: 'Profile', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-experience" title="Experience">
            <p class="lead">Experiences</p>
            <!--
            <%= image_tag("icon/icon_resume.png", alt: 'Experience', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#abilities" title="Abilities">
            <p class="lead">Abilities</p>
            <!--
            <%= image_tag("icon/icon_awards.png", alt: 'Abilities', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-contact" title="Contact">
            <p class="lead">Contact</p>
            <!--
            <%= image_tag("icon/icon_testimonials.png", alt: 'Contact', class: "image") %>
            -->
          </a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
