<body data-spy="scroll" data-target="section-topbar" data-offset="60">
<script type="text/javascript">
jQuery(function ($) {
    $('a[data-target="flare"]').peFlareLightbox();
});
</script>
<p></p>

<!-- Topbar: fixed + datascroll

                * the attribute data-scrollspy is for automatically updating nav targets based on scroll position
                * scroll the area below the navbar and watch the active class change
                ================================================== -->
<div id="section-topbar">
    <div id="topbar-inner">




          <ul id="nav" class="nav">
            <li class="menu-item">
              <a href="#section-profile" title="Profile">
                <%= image_tag("icon/icon_profile.png", alt: 'Profile', class: "image") %>
              </a>
            </li>
            <li class="menu-item">
              <a href="#section-experience" title="Experience">
                <%= image_tag("icon/icon_works.png", alt: 'Experience', class: "image") %>
              </a>
            </li>
            <li class="menu-item">
              <a href="#section-resume" title="About">
                <%= image_tag("icon/icon_resume.png", alt: 'Profile', class: "image") %>
              </a>
            </li>
            <li class="menu-item">
              <a href="#section-resume" title="About">
                <%= image_tag("icon/icon_awards.png", alt: 'Profile', class: "image") %>
              </a>
            </li>
            <li class="menu-item">
              <a href="#section-resume" title="About">
                <%= image_tag("icon/icon_testimonials.png", alt: 'Profile', class: "image") %>
              </a>
            </li>
          </ul>
          <!-- // uL#nav -->
        </div>

        <div class="clear"></div>

      <!-- // .sixteen -->

        <!-- // .container -->
        <div class="clear"></div>
    </div>
    <!-- // #topbar-inner -->
  </div>
<!-- // #section-topbar -->

<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        if ($.fn.parallax){
            $('#working-section').parallax("50%", 0.1,false);

            $('.parrallax-element, .parrallax-background').each(function () {
                $(this).css('background-image', 'url(' + $(this).attr("data-background-image") + ')');
                $(this).css('height',  $(this).attr("data-background-height"));
                $(this).css('width',  $(this).attr("data-background-width"));
                $(this).parallax("50%", 0.1);
            });
        }

        if ($.fn.appear){
	        $('[data-ride="animated"]').appear();
	        if( !$('html').hasClass('ie no-ie10') ) {
	            $('[data-ride="animated"]').addClass('appear');
	            $('[data-ride="animated"]').on('appear', function() {
	                var $el = $(this), $ani = ($el.data('animation') || 'fadeIn'), $delay;
	                if ( !$el.hasClass('animated') ) {
	                    $delay = $el.data('delay') || 0;
	                    setTimeout(function(){
	                        $el.removeClass('appear').addClass( $ani + " animated" );
	                    }, $delay);
	                }
	            });
	        };
	    }
    });
</script>
