<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta name="description" content="Antoine Petit">
  <meta name="author" content="Typebig">
  <meta name="description" content="I'm Antoine Petit, a fast learning IT project manager / creative programmer" />
	<meta name="keywords" content="Antoine Petit, CV, Resume, Project Manager, Web developer, Startup, Interactive CV, Resume, CV, HSBC, Agile, Architect" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body data-spy="scroll" data-target=" #section-topbar" data-offset="50">

  <div class="container-full">

    <section>
      <%= render 'resume_pages/topbar' %>
    </section>

    <section>
      <%= render 'resume_pages/head' %>
    </section>

    <section>
      <%= render 'resume_pages/profile' %>
    </section>

    <section>
      <%= render 'resume_pages/experience' %>
    </section>

    <section>
      <%= render 'resume_pages/abilities' %>
    </section>

    <section>
      <%= render 'resume_pages/contact' %>
    </section>

  </div> <!-- /container full -->

</body>
</html>
