<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Antoine Petit | Resume </title>
    <meta name="description"
          content="Antoine Petit">
    <meta name="author" content="Typebig">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->



</head>
<body>


  <div class="container-full">


<!-- Topbar section
================================================== -->
<div id="section-topbar">
    <div id="topbar-inner">
      <ul id="nav" class="nav">
        <li class="menu-item">
          <a href="#section-head" title="Antoine Petit">
            <%= image_tag("icon/icon_profile.png", alt: 'Antoine Petit', class: "image") %>
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-profile" title="Profile">
            <%= image_tag("icon/icon_works.png", alt: 'Profile', class: "image") %>
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-experience" title="Experience">
            <%= image_tag("icon/icon_resume.png", alt: 'Experience', class: "image") %>
          </a>
        </li>
        <li class="menu-item">
          <a href="#abilities" title="Abilities">
            <%= image_tag("icon/icon_awards.png", alt: 'Abilities', class: "image") %>
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-contact" title="Contact">
            <%= image_tag("icon/icon_testimonials.png", alt: 'Contact', class: "image") %>
          </a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>



<!-- Head section
================================================== -->
<div id="section-head">
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Antoine Petit</h1>
      <hr>
      <p class="lead">Resume</p>
    </div>
    <div class="overlay"></div>
  </div>
</div>

<!-- Profile section
================================================== -->
<div id="section-profile">
  <div class="container">
    <h1>Profile</h1>
    <p class="lead">&ldquo;I'm a creative IT Project Manager&ldquo; </p>
    <hr>
    <div class="col-md-4">
      <h3>About me</h3>
      <p><span class="italic font-color-black"> I'm a young engineer
      I am all worldwide project manager focused on delivering out-of-the-box solutions.
      Quick learning. Eager to adapt and to react.
      I like working in teams</span></p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag("profile.jpg", width: '200', height: '200', alt: 'Antoine Petit', class: "profile-image") %>
    </div>
    <div class="col-md-4">
      <h3>Details</h3>
      <p><span class="italic font-color-black"> <b>Name</b></span></p>
      <p><span class="italic font-color-black"> Antoine Petit</span></p>
      <p><span class="italic font-color-black"> <b>Age</b></span></p>
      <p><span class="italic font-color-black"> 27 years</span></p>
      <p><span class="italic font-color-black"> <b>Current Location</b></span></p>
      <p>
        <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Antoine Petit', class: "image") %>
        <span class="italic font-color-black"> Hong Kong</span>
      </p>
      </div>
    </div>
  </div>

<!-- Experience section
================================================== -->
<div id="section-experience">
  <div class="container">
    <h1>Experiences</h1>
    <p class="lead"> &ldquo;3 years experience in the financial sector managing IT projects globally &ldquo;</p>
    <hr>
    <div class="block">
      <h2>Education</h2>
      <div class="experience row">
      		<div class="col-md-4">
      			<h4>Telecom Sudparis</h4>
      			<p class="experience-period">Sept. 2010 - Jul. 2013</p>
      		</div>
      		<div class="col-md-8">
      			<p>
      				<strong>Master - Management of Information Systems</strong>
      				<span class="hidden-phone">
                Master in Information Systems, including general knowledge in IT and Management,
                new business Start-up and strategic intelligences</span>
      				<span class="experience-details">
      					<span class="location">
                  <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
      						Evry					</span>
      				</span>
      			</p>
      		</div>
      	</div>
        <div class="experience row">
            <div class="col-md-4">
              <h4>National University of Singapore</h4>
              <p class="experience-period">Aug. 2012 - Dec. 2012</p>
            </div>
            <div class="col-md-8">
              <p>
                <strong>Non Graduate Program - Management of Information Systems</strong>
                <span class="hidden-phone">
                  Master in Information Systems, including general knowledge in IT and Management,
                  new business Start-up and strategic intelligences</span>
                <span class="experience-details">
                  <span class="location">
                    <%= image_tag("flag_singapore.png", width: '20', height: '20', alt: 'Singapore', class: "image") %>
                    Singapore					</span>
                </span>
              </p>
            </div>
          </div>
          <div class="experience row">
              <div class="col-md-4">
                <h4>Lycee du Parc</h4>
                <p class="experience-period">Sept. 2018 - Jul. 2010</p>
              </div>
              <div class="col-md-8">
                <p>
                  <strong>Classes Preparatoires</strong>
                  <span class="hidden-phone">
                    Master in Information Systems, including general knowledge in IT and Management,
                    new business Start-up and strategic intelligences</span>
                  <span class="experience-details">
                    <span class="location">
                      <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                      Lyon					</span>
                  </span>
                </p>
              </div>
            </div>

            <hr>

            <h2>Careers</h2>
            <div class="experience row">
                <div class="col-md-4">
                  <h4>HSBC Global Banking and Markets</h4>
                  <p class="experience-period">Aug. 2015 - Feb. 2016</p>
                </div>
                <div class="col-md-8">
                  <p>
                    <strong>Production Support Specialist - Fixed Income IT</strong>
                    <span class="hidden-phone">
                      Responsible for conducting change in the Fixed Income Production Support
teams globally. It includes analyzing the team’s need, identifying how to
simplify our monitoring strategy, and implementing these solutions.</span>
                    <span class="experience-details">
                      <span class="location">
                        <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image") %>
                        Hong Kong					</span>
                    </span>
                  </p>
                </div>
              </div>
              <div class="experience row">
                  <div class="col-md-4">
                    <h4>HSBC Global Banking and Markets</h4>
                    <p class="experience-period">Sept. 2014 - Jul. 2015</p>
                  </div>
                  <div class="col-md-8">
                    <p>
                      <strong>Solution Architect - Fixed Income IT</strong>
                      <span class="hidden-phone">
                        Responsible for aligning technical architecture strategies and execution plans
to converge towards the desired future state of architecture
Gather business requirements and select, if necessary, the technologies that
best fit these requirements
Assist in the definition of the long-term IT strategy for Fixed Income</span>
                      <span class="experience-details">
                        <span class="location">
                          <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image") %>
                          Hong Kong					</span>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="experience row">
                    <div class="col-md-4">
                      <h4>HSBC Global Banking and Markets</h4>
                      <p class="experience-period">Feb. 2013 - Jul. 2013</p>
                    </div>
                    <div class="col-md-8">
                      <p>
                        <strong>Project Manager - Fixed Income IT</strong>
                        <span class="hidden-phone">
                          Managing IT Projects in HSBC Fixed Income, principally Valuations & Risk
system supporting the Rates Derivatives trading</span>
                        <span class="experience-details">
                          <span class="location">
                            <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                            Paris					</span>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="experience row">
                      <div class="col-md-4">
                        <h4>SPRINT, Telecom Sudparis Junior Entreprise</h4>
                        <p class="experience-period">Oct. 2010 - Apr. 2012</p>
                      </div>
                      <div class="col-md-8">
                        <p>
                          <strong>Project Manager</strong>
                          <span class="hidden-phone">
                            MManaging the initiation and development of IT projects, including the
management of an e-Learning website from business requirement to delivery</span>
                          <span class="experience-details">
                            <span class="location">
                              <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                              Evry					</span>
                          </span>
                        </p>
                      </div>
                    </div>
    </div>
  </div>
</div>

<!-- Abilities section
================================================== -->
<div id="abilities" >
  <div class="container">
  <h1>Abilities</h1>
  <p class="lead"> &ldquo;Fast learner, out-of-the-box thinking&rdquo;</p>
  <hr />
  <h3>Skills</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">CSS(3)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">HTML(5)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">BEM</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">AngularJS</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <h3>Languages</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">French (Mother tongue)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">English (Daily use)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">Chinese Mandarin (Survivable)</span>
          <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="text-center">
    <p>This project is build using Ruby on Rails</p>
    <a href="https://github.com/AntoinePetit24/resume" class="btn btn-primary" target="_blank">See project on Github</a>
  </div>
</div>
</div>

<!-- Footer section
================================================== -->
<div id="section-contact">
    <div class="container">
        <h1>Contact</h1>
        <p class="lead">
        	&rdquo;Contact me anywhere, anytime, anyhow&rdquo;
        </p>
        <hr />
        <div class="row">
        	<div class="col-md-6">
        		<ul class="no-bullets">
        			<li>
        				<a href="https://hk.linkedin.com/in/antoine-petit-49458127" target="_blank">
        					<span class="icon icon-linkedin"></span>
        					<span>See me on LinkedIn</span>
                </a>
        			</li>
        		</ul>
        	</div>
        	<div class="col-md-6">
        		<ul class="no-bullets">
        			<!--<li>
        				<a href="javascript:void(0);">
        					<span class="icon icon-skype"></span>
        					pascalvgemert				</a>
        			</li>-->
        			<li>
        				<a href="mailto:antoinepetit@live.fr">
        					<span class="icon icon-email"></span>
        					<span>antoinepetit@live.fr</span>
        				</a>
        			</li>
        		</ul>
        	</div>
        </div>

        <hr />

        <div class="text-center">
        	<iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="http://platform.twitter.com/widgets/tweet_button.c633b87376883931e7436b93bb46a699.en.html#_=1452458429192&amp;dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;original_referer=http%3A%2F%2Fwebcache.googleusercontent.com%2Fsearch%3Fq%3Dcache%3AcRExpd3vwGsJ%3Awww.pascalvangemert.nl%2F%2B%26cd%3D1%26hl%3Den%26ct%3Dclnk%26gl%3Dnl%26lr%3Dlang_nl%257Clang_en&amp;size=m&amp;text=Pascal%20van%20Gemert%20-%20Web%20Developer%20-%20Interactive%20Resume&amp;type=share&amp;url=http%3A%2F%2Fpascalvangemert.nl%2F%3Fref%3Dtwitter&amp;via=pascalvgemert" style="position: static; visibility: visible; width: 62px; height: 20px;" data-url="http://pascalvangemert.nl/?ref=twitter"></iframe>
        	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpascalvangemert.nl%3Fref%3Dfacebook&amp;width=120&amp;height=21&amp;colorscheme=dark&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=143175172374579" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowtransparency="true"></iframe>
        </div>

      </div>
    </div>



  </div> <!-- /container full -->






</body>
</html>
