<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta name="description" content="Antoine Petit">
  <meta name="author" content="Typebig">
  <meta name="description" content="I'm Antoine Petit, a fast learning IT project manager / creative programmer" />
	<meta name="keywords" content="Antoine Petit, CV, Resume, Project Manager, Web developer, Startup, Interactive CV, Resume, CV, HSBC, Agile, Architect" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body data-spy="scroll" data-target=" #section-topbar" data-offset="50">

<div class="container-full">

<!-- Topbar section
================================================== -->

<div id="section-topbar">
    <div id="topbar-inner">
      <ul id="nav" class="nav" role="tablist">
        <li class="menu-item">
          <a href="#section-head" title="Antoine Petit">
            <p class="lead">Home</p>
            <!--
            <%= image_tag("icon/icon_profile.png", alt: 'Antoine Petit', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-profile" title="Profile">
            <p class="lead">Profile</p>
            <!--
            <%= image_tag("icon/icon_works.png", alt: 'Profile', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-experience" title="Experience">
            <p class="lead">Experiences</p>
            <!--
            <%= image_tag("icon/icon_resume.png", alt: 'Experience', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#abilities" title="Abilities">
            <p class="lead">Abilities</p>
            <!--
            <%= image_tag("icon/icon_awards.png", alt: 'Abilities', class: "image") %>
            -->
          </a>
        </li>
        <li class="menu-item">
          <a href="#section-contact" title="Contact">
            <p class="lead">Contact</p>
            <!--
            <%= image_tag("icon/icon_testimonials.png", alt: 'Contact', class: "image") %>
            -->
          </a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>



<!-- Head section
================================================== -->
<div id="section-head">
    <div class="container-fluid">
      <h1>Antoine Petit</h1>
      <hr>
      <p class="lead">Resume</p>
      <!--
      <div class="overlay"></div>
      -->
    </div>
</div>

<!-- Profile section
================================================== -->
<div id="section-profile">
  <div class="container">
    <h1>Profile</h1>
    <p class="lead">&ldquo;I'm a creative IT Project Manager&ldquo; </p>
    <hr>
    <div class="col-md-4">
      <h3>About me</h3>
      <p><span class="italic font-color-black">
        A dynamic IT project manager, eager to adapt and to react, focused on delivering out-of-the-box solutions
         and constantly looking for new things to learn.
       </span></p>
    </div>
    <div class="col-md-4 text-center">
      <div class="img_wrapper">
        <%= image_tag("profile.jpg", alt: 'Antoine Petit', class: "img_profile") %>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Details</h3>
      <div class="col-md-4">
        <p><span class="italic font-color-black"> <b>Name</b></span></p>
      </div>
      <div class="col-md-8">
        <p><span class="italic font-color-black"> Antoine Petit</span></p>
      </div>
      <div class="col-md-4">
        <p><span class="italic font-color-black"> <b>Age</b></span></p>
      </div>
      <div class="col-md-8">
        <p><span class="italic font-color-black"> 27 years</span></p>
      </div>
      <div class="col-md-4">
        <p><span class="italic font-color-black"> <b>Current Location</b></span></p>
      </div>
      <div class="col-md-8">
        <p>
          <span class="italic font-color-black"> Hong Kong </span>
          <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Antoine Petit', class: "img_flag") %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Experience section
================================================== -->
<div id="section-experience">
  <div class="container">
    <h1>Experiences</h1>
    <p class="lead"> &ldquo;3 years experience in the financial sector managing IT projects globally
      with a deep project management experience&ldquo;</p>
    <hr>
    <div class="block">
      <h2>Education</h2>
      <div class="experience row">
      		<div class="col-md-4">
      			<h4>Telecom Sudparis</h4>
      			<p class="experience-period">Sept. 2010 - Jul. 2013</p>
      		</div>
      		<div class="col-md-8">
      			<p>
      				<h4>Master - Management of Information Systems</h4>
      				<span class="hidden-phone">
                Master of Engineering with a specialisation in Information Systems.
              </span>
      				<span class="experience-details">
      					<span class="location">
                  <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
      						Evry
                </span>
      				</span>
      			</p>
      		</div>
      	</div>
        <div class="experience row">
            <div class="col-md-4">
              <h4>National University of Singapore</h4>
              <p class="experience-period">Aug. 2012 - Dec. 2012</p>
            </div>
            <div class="col-md-8">
              <p>
                <h4>Non Graduate Program - Management of Information Systems</h4>
                <span class="hidden-phone">
                  I did a six months non-graduate programme in Singapore to specialize myself in the management of Information Systems (IS).
                  During this period, my activities included theory on IS strategy and planning, and project-based activities related to
                  Knowledge Management (KM), computer-mediated communications and telecom &amp; international networks.
                </span>
                <span class="experience-details">
                  <span class="location">
                    <%= image_tag("flag_singapore.png", width: '20', height: '20', alt: 'Singapore', class: "image") %>
                    Singapore
                  </span>
                </span>
              </p>
            </div>
          </div>
          <div class="experience row">
              <div class="col-md-4">
                <h4>Lycee du Parc</h4>
                <p class="experience-period">Sept. 2018 - Jul. 2010</p>
              </div>
              <div class="col-md-8">
                <p>
                  <h4>Classes Preparatoires</h4>
                  <span class="hidden-phone">
                    A two years preparation for national competitive entrance exams to leading French
                    “Grandes Ecoles”. I specialised in Mathematics, Physics and Chemistry.
                  </span>
                  <span class="experience-details">
                    <span class="location">
                      <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                      Lyon
                    </span>
                  </span>
                </p>
              </div>
            </div>

            <hr>

            <h2>Careers</h2>
            <div class="experience row">
                <div class="col-md-4">
                  <h4>HSBC Global Banking &amp; Markets</h4>
                  <p class="experience-period">Aug. 2015 - Feb. 2016</p>
                </div>
                <div class="col-md-8">
                  <p>
                    <h4>Production Support Specialist - Fixed Income IT</h4>
                    <span class="hidden-phone">
                      As a Production Support specialist, I was responsible for conducting change in the Fixed Income Production Support (FIPS) teams globally, with Hong Kong as a priority.
                      I analyzed the core weaknesses and redundant activities the HK and offsite support teams (Brazil and India) were doing, and leveraged our main monitoring systems (mainly ITRS Geneos) to decrease these efforts by 20%.
                    </span>
                    <span class="experience-details">
                      <span class="location">
                        <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image") %>
                        Hong Kong
                      </span>
                    </span>
                  </p>
                </div>
              </div>
              <div class="experience row">
                  <div class="col-md-4">
                    <h4>HSBC Global Banking &amp; Markets</h4>
                    <p class="experience-period">Sept. 2014 - Jul. 2015</p>
                  </div>
                  <div class="col-md-8">
                    <p>
                      <h4>Solution Architect - Fixed Income IT</h4>
                      <span class="hidden-phone">
                        As soon as my internship was over, I was sent to Hong Kong to help defining the Fixed Income IT (FIIT) strategy and architecture.
                        I was responsible for aligning technical architecture strategies and execution plans to converge towards the desired future state of architecture
                        Gather business requirements and select, if necessary, the technologies that best fit these requirements.
                        I was working in a global-based team with my manager based in Paris and a colleague based in New York.
                      </span>
                      <span class="experience-details">
                        <span class="location">
                          <%= image_tag("flag_hong_kong.png", width: '20', height: '20', alt: 'Hong Kong', class: "image") %>
                          Hong Kong
                        </span>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="experience row">
                    <div class="col-md-4">
                      <h4>HSBC Global Banking &amp; Markets</h4>
                      <p class="experience-period">Feb. 2013 - Jul. 2013</p>
                    </div>
                    <div class="col-md-8">
                      <p>
                        <h4>Project Manager - Fixed Income IT</h4>
                        <span class="hidden-phone">
                          Right before I graduated, I started working for HSBC Fixed Income IT, a branch of the investment bank responsible for driving and executing IT projects related to fixed rate derivatives products (Bonds, Repos, Swaps).
                          I mainly worked there as an assistant project manager on the implementation and delivery of a new valuations &amp; risk engine.
                        </span>
                        <span class="experience-details">
                          <span class="location">
                            <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                            Paris
                          </span>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="experience row">
                      <div class="col-md-4">
                        <h4>SPRINT, Telecom Sudparis Junior Entreprise</h4>
                        <p class="experience-period">Oct. 2010 - Apr. 2012</p>
                      </div>
                      <div class="col-md-8">
                        <p>
                          <h4>Project Manager</h4>
                          <span class="hidden-phone">
                            A &ldquo;Junior-Enterprise&ldquo; (J.E.) is a small consulting company (turnover: 80k €) run by students in European schools of engineering and management.
                            I work there in parallel of my studies, and managed the initiation and development of different IT projects, including the management of an e-Learning website from business requirement to delivery for woospeak.com
                          </span>
                          <span class="experience-details">
                            <span class="location">
                              <%= image_tag("flag_france.png", width: '20', height: '20', alt: 'France', class: "image") %>
                              Evry
                            </span>
                          </span>
                        </p>
                      </div>
                    </div>
    </div>
  </div>
</div>

<!-- Abilities section
================================================== -->
<div id="abilities" >
  <div class="container">
  <h1>Abilities</h1>
  <p class="lead"> &ldquo;Dynamic, self-governing, fast learner and out-of-the-box&rdquo;</p>
  <hr />
  <h3>Programming Skills</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">VBA</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Ruby on Rails</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">SQL</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">CSS(3)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">HTML(5)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Unix Shell</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <p>This project was created in 2 days with no prior knowledge of Ruby on Rails ...
      I told you I was a fast learner</p>
    <a href="https://github.com/AntoinePetit24/resume" class="btn btn-primary" target="_blank">Have a look on Github</a>
  </div>
  <hr />
  <h3>Languages</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">French (Mother tongue)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">English (Daily use)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">Chinese Mandarin (Survivable)</span>
          <span class="ability-score">
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star filled"></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <h3>Office Tools</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">Microsoft Excel (10+ years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Microsoft Visio (3 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Microsoft Word (10+ years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Microsoft PowerPoint (10+ years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Adobe Illustrator (personal usage)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="no-bullets">
        <li>
          <span class="ability-title">Windows 7 (5 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">Mac (2 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">ITRS Geneos (1 full year)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        <li>
          <span class="ability-title">BMC Control-M (2 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

<!-- Footer section
================================================== -->
<div id="section-contact">
    <div class="container">
        <h1>Contact</h1>
        <p class="lead">
        	&rdquo;Contact me anywhere, anytime, anyhow&rdquo;
        </p>
        <hr />
        <div class="row">
        	<div class="col-md-6">
        		<ul class="no-bullets">
        			<li>
        				<a href="https://hk.linkedin.com/in/antoine-petit-49458127" target="_blank">
        					<%= image_tag("icon/icon_linkedin-32.png", width: '40', height: '40', alt: 'LinkedIn', class: "image") %>
        					<span>linkedin.com/in/antoine-petit-49458127</span>
                </a>
        			</li>
        		</ul>
        	</div>
        	<div class="col-md-6">
        		<ul class="no-bullets">
        			<!--<li>
        				<a href="javascript:void(0);">
        					<span class="icon icon-skype"></span>
        					pascalvgemert				</a>
        			</li>-->
        			<li>
        				<a href="mailto:antoinepetit@live.fr">
                  <%= image_tag("icon/icon_email-32.png", width: '40', height: '40', alt: 'LinkedIn', class: "image") %>
        					<span>antoinepetit@live.fr</span>
        				</a>
        			</li>
        		</ul>
        	</div>
        </div>

        <hr />


      </div>
    </div>



  </div> <!-- /container full -->






</body>
</html>
